{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load url from future %}

{% block head_title %}{% trans "Account Connections" %}{% endblock %}

{% block content %}
<h4>{% trans "Account Connections" %}</h4>

{% if form.accounts %}
	<p>You currently have your LinkedIn account connected:</p>
	<form method="post" action="{% url 'socialaccount_connections' %}">
		{% csrf_token %} 
		<fieldset>
			{% if form.non_field_errors %}
				<div id="errorMsg">
					{{form.non_field_errors}}
				</div>
			{% endif %}

			{% for base_account in form.accounts %}
				{% with base_account.get_provider_account as account %}
					<div>
						<label for="id_account_{{base_account.id}}">
							<input id="id_account_{{base_account.id}}" type="radio" name="account" value="{{base_account.id}}"/>
							<span class="socialaccount_provider {{base_account.provider}} {{account.get_brand.id}}">{{account.get_brand.name}}</span>
							{{account}}
						</label>
					</div>
				{% endwith %}
			{% endfor %}
			
			<div>
				<button type="submit">{% trans 'Remove' %}</button>
			</div>
		</fieldset>
	</form>
{% else %}
	<p> You currently have no social network accounts connected to this account.</p>
{% endif %}

<hr>

<h4>E-mail</h4>

<p>Current email: {{ request.user.email }}</p>
<form method="post" action="{% url 'account_email' %}" class="add_email">
    {% csrf_token %}
    <p>
    	<label for="id_email">Add another email:</label> 
    	<input id="id_email" name="email" size="30" type="email">
    </p>
    <button name="action_add" type="submit">{% trans "Add E-mail" %}</button>
</form>

{% endblock %}