
<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Hidden Talent</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">Post a Job</a>
        </li>
        <li>
          <a href="http://news.bootswatch.com">Refer Someone</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a title="LinkedIn" class="socialaccount_provider linkedin" href="/accounts/linkedin/login/?process=login">Sign In With LinkedIn</a>
        </li>
      </ul>
    </div>
  </div>
</div>
