amqp==1.4.6
anyjson==0.3.3
billiard==3.3.0.19
celery==3.1.17
Django==1.7.1
django-allauth==0.19.1
django-debug-toolbar==1.2.2
django-mailgun==0.2.2
ecdsa==0.13
gevent==1.0.1
greenlet==0.4.5
gunicorn==19.1.1
honcho==0.6.6
kombu==3.0.24
oauthlib==0.7.2
paramiko==1.15.2
psycopg2==2.5.4
pycrypto==2.6.1
python-openid==2.2.5
pytz==2015.2
redis==2.10.3
requests==2.6.0
requests-oauthlib==0.4.2
shovel==0.3.0
sqlparse==0.1.14