{% load notifications %}

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{% url 'home' %}" class="navbar-brand">Hidden Talent</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="../help/">Post a Job</a>
        </li>
        <li>
          <a href="http://news.bootswatch.com">Refer Someone</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle toggle-notifications" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-envelope-o fa-lg"></i>
            {% if notifications %}
              <span class="badge badge-warning badge-notifications">{{ notifications.count }}</span>
            {% endif %}
          </a>
          <ul class="dropdown-menu text-center notifications-dropdown" role="menu">
          {% if notifications %}
            {% for notification in notifications %}
              <li><p class="no-margin">{% render_notification notification 'default' 'message' %}</p></li>
            {% endfor %}
          {% else %}
            <li><p class="text-center">No notifications</p></li>
          {% endif %}

          </ul>
        </li>
        <li><a href="http://builtwithbootstrap.com/" target="_blank">My Referrals</a></li>
        <li><a href="{% url 'socialaccount_connections' %}">Account Settings</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
